# dependencies
node_modules/

# production
dist/
build/

# misc
.DS_Store
.env
node_modules/.bin/_mocha
node_modules/.bin/atob
node_modules/.bin/browser-sync
node_modules/.bin/dev-ip
node_modules/.bin/he
node_modules/.bin/lite-server
node_modules/.bin/lt
node_modules/.bin/mime
node_modules/.bin/mkdirp
node_modules/.bin/mocha
node_modules/.bin/rimraf
node_modules/.bin/semver
node_modules/.bin/solcjs
node_modules/.bin/throttleproxy
node_modules/.bin/truffle
node_modules/.bin/which
node_modules/.bin/window-size
node_modules/atob/bower.json
node_modules/atob/browser-atob.js
node_modules/atob/LICENSE
node_modules/atob/LICENSE.DOCS
node_modules/atob/node-atob.js
node_modules/atob/package.json
node_modules/atob/README.md
node_modules/atob/test.js
node_modules/atob/bin/atob.js
node_modules/browser-sync/LICENSE
node_modules/browser-sync/package.json
node_modules/browser-sync/certs/gen.sh
node_modules/browser-sync/certs/server.crt
node_modules/browser-sync/certs/server.csr
node_modules/browser-sync/certs/server.key
node_modules/browser-sync/cli-options/opts.recipe.json
node_modules/browser-sync/cli-options/opts.reload.json
node_modules/browser-sync/cli-options/opts.start.json
node_modules/browser-sync/dist/args.js
node_modules/browser-sync/dist/async-tasks.js
node_modules/browser-sync/dist/async.js
node_modules/browser-sync/dist/bin.js
node_modules/browser-sync/dist/browser-sync.js
node_modules/browser-sync/dist/client.js
node_modules/browser-sync/dist/config.js
node_modules/browser-sync/dist/connect-utils.js
node_modules/browser-sync/dist/default-config.js
node_modules/browser-sync/dist/file-event-handler.js
node_modules/browser-sync/dist/file-utils.js
node_modules/browser-sync/dist/file-watcher.js
node_modules/browser-sync/dist/hooks.js
node_modules/browser-sync/dist/http-protocol.js
node_modules/browser-sync/dist/index.js
node_modules/browser-sync/dist/internal-events.js
node_modules/browser-sync/dist/lodash.custom.js
node_modules/browser-sync/dist/logger.js
node_modules/browser-sync/dist/options.js
node_modules/browser-sync/dist/plugins.js
node_modules/browser-sync/dist/snippet.js
node_modules/browser-sync/dist/sockets.js
node_modules/browser-sync/dist/tunnel.js
node_modules/browser-sync/dist/types.js
node_modules/browser-sync/dist/utils.js
node_modules/browser-sync/dist/cli/cli-info.js
node_modules/browser-sync/dist/cli/cli-options.js
node_modules/browser-sync/dist/cli/command.init.js
node_modules/browser-sync/dist/cli/command.recipe.js
node_modules/browser-sync/dist/cli/command.reload.js
node_modules/browser-sync/dist/cli/command.start.js
node_modules/browser-sync/dist/cli/transforms/addCwdToWatchOptions.js
node_modules/browser-sync/dist/cli/transforms/addDefaultIgnorePatterns.js
node_modules/browser-sync/dist/cli/transforms/addToFilesOption.js
node_modules/browser-sync/dist/cli/transforms/appendServerDirectoryOption.js
node_modules/browser-sync/dist/cli/transforms/appendServerIndexOption.js
node_modules/browser-sync/dist/cli/transforms/copyCLIIgnoreToWatchOptions.js
node_modules/browser-sync/dist/cli/transforms/handleExtensionsOption.js
node_modules/browser-sync/dist/cli/transforms/handleFilesOption.js
node_modules/browser-sync/dist/cli/transforms/handleGhostModeOption.js
node_modules/browser-sync/dist/cli/transforms/handleHostOption.js
node_modules/browser-sync/dist/cli/transforms/handlePortsOption.js
node_modules/browser-sync/dist/cli/transforms/handleProxyOption.js
node_modules/browser-sync/dist/cli/transforms/handleServerOption.js
node_modules/browser-sync/dist/public/exit.js
node_modules/browser-sync/dist/public/init.js
node_modules/browser-sync/dist/public/notify.js
node_modules/browser-sync/dist/public/pause.js
node_modules/browser-sync/dist/public/public-utils.js
node_modules/browser-sync/dist/public/reload.js
node_modules/browser-sync/dist/public/resume.js
node_modules/browser-sync/dist/public/stream.js
node_modules/browser-sync/dist/server/index.js
node_modules/browser-sync/dist/server/proxy-server.js
node_modules/browser-sync/dist/server/proxy-utils.js
node_modules/browser-sync/dist/server/serve-static-wrapper.js
node_modules/browser-sync/dist/server/snippet-server.js
node_modules/browser-sync/dist/server/static-server.js
node_modules/browser-sync/dist/server/utils.js
node_modules/browser-sync/templates/cli-template.js
node_modules/browser-sync/templates/connector.tmpl
node_modules/browser-sync/templates/script-tags-simple.tmpl
node_modules/browser-sync/templates/script-tags.tmpl
node_modules/dev-ip/.jshintrc
node_modules/dev-ip/.npmignore
node_modules/dev-ip/.travis.yml
node_modules/dev-ip/example.js
node_modules/dev-ip/LICENSE-MIT
node_modules/dev-ip/package.json
node_modules/dev-ip/README.md
node_modules/dev-ip/lib/dev-ip.js
node_modules/dev-ip/test/.jshintrc
node_modules/dev-ip/test/devip.js
node_modules/dev-ip/test/fixtures/resp-multiple.js
node_modules/dev-ip/test/fixtures/resp-none.js
node_modules/dev-ip/test/fixtures/resp-single.js
node_modules/he/he.js
node_modules/he/LICENSE-MIT.txt
node_modules/he/package.json
node_modules/he/README.md
node_modules/he/bin/he
node_modules/he/man/he.1
node_modules/lite-server/.eslintrc
node_modules/lite-server/.travis.yml
node_modules/lite-server/index.js
node_modules/lite-server/ISSUE_TEMPLATE.md
node_modules/lite-server/LICENSE
node_modules/lite-server/package.json
node_modules/lite-server/README.md
node_modules/lite-server/yarn.lock
node_modules/lite-server/bin/lite-server
node_modules/lite-server/lib/config-defaults.js
node_modules/lite-server/lib/lite-server.js
node_modules/lite-server/test/config-defaults.spec.js
node_modules/lite-server/test/lite-server.spec.js
node_modules/localtunnel/.travis.yml
node_modules/localtunnel/client.js
node_modules/localtunnel/History.md
node_modules/localtunnel/LICENSE
node_modules/localtunnel/package.json
node_modules/localtunnel/README.md
node_modules/localtunnel/yarn.lock
node_modules/localtunnel/bin/client
node_modules/localtunnel/lib/HeaderHostTransformer.js
node_modules/localtunnel/lib/Tunnel.js
node_modules/localtunnel/lib/TunnelCluster.js
node_modules/localtunnel/test/index.js
node_modules/mime/cli.js
node_modules/mime/LICENSE
node_modules/mime/mime.js
node_modules/mime/package.json
node_modules/mime/README.md
node_modules/mime/types.json
node_modules/mime/build/build.js
node_modules/mime/build/test.js
node_modules/mkdirp/.travis.yml
node_modules/mkdirp/index.js
node_modules/mkdirp/LICENSE
node_modules/mkdirp/package.json
node_modules/mkdirp/readme.markdown
node_modules/mkdirp/bin/cmd.js
node_modules/mkdirp/bin/usage.txt
node_modules/mkdirp/examples/pow.js
node_modules/mkdirp/test/chmod.js
node_modules/mkdirp/test/clobber.js
node_modules/mkdirp/test/mkdirp.js
node_modules/mkdirp/test/opts_fs_sync.js
node_modules/mkdirp/test/opts_fs.js
node_modules/mkdirp/test/perm_sync.js
node_modules/mkdirp/test/perm.js
node_modules/mkdirp/test/race.js
node_modules/mkdirp/test/rel.js
node_modules/mkdirp/test/return_sync.js
node_modules/mkdirp/test/return.js
node_modules/mkdirp/test/root.js
node_modules/mkdirp/test/sync.js
node_modules/mkdirp/test/umask_sync.js
node_modules/mkdirp/test/umask.js
node_modules/mocha/browser-entry.js
node_modules/mocha/CHANGELOG.md
node_modules/mocha/index.js
node_modules/mocha/LICENSE
node_modules/mocha/mocha.css
node_modules/mocha/mocha.js
node_modules/mocha/package.json
node_modules/mocha/README.md
node_modules/mocha/bin/_mocha
node_modules/mocha/bin/.eslintrc.yml
node_modules/mocha/bin/mocha
node_modules/mocha/bin/options.js
node_modules/mocha/lib/context.js
node_modules/mocha/lib/hook.js
node_modules/mocha/lib/mocha.js
node_modules/mocha/lib/ms.js
node_modules/mocha/lib/pending.js
node_modules/mocha/lib/runnable.js
node_modules/mocha/lib/runner.js
node_modules/mocha/lib/suite.js
node_modules/mocha/lib/template.html
node_modules/mocha/lib/test.js
node_modules/mocha/lib/utils.js
node_modules/mocha/lib/browser/.eslintrc.yml
node_modules/mocha/lib/browser/growl.js
node_modules/mocha/lib/browser/progress.js
node_modules/mocha/lib/browser/tty.js
node_modules/mocha/lib/interfaces/bdd.js
node_modules/mocha/lib/interfaces/common.js
node_modules/mocha/lib/interfaces/exports.js
node_modules/mocha/lib/interfaces/index.js
node_modules/mocha/lib/interfaces/qunit.js
node_modules/mocha/lib/interfaces/tdd.js
node_modules/mocha/lib/reporters/base.js
node_modules/mocha/lib/reporters/base.js.orig
node_modules/mocha/lib/reporters/doc.js
node_modules/mocha/lib/reporters/dot.js
node_modules/mocha/lib/reporters/html.js
node_modules/mocha/lib/reporters/index.js
node_modules/mocha/lib/reporters/json-stream.js
node_modules/mocha/lib/reporters/json.js
node_modules/mocha/lib/reporters/landing.js
node_modules/mocha/lib/reporters/list.js
node_modules/mocha/lib/reporters/markdown.js
node_modules/mocha/lib/reporters/min.js
node_modules/mocha/lib/reporters/nyan.js
node_modules/mocha/lib/reporters/progress.js
node_modules/mocha/lib/reporters/spec.js
node_modules/mocha/lib/reporters/tap.js
node_modules/mocha/lib/reporters/xunit.js
node_modules/rimraf/bin.js
node_modules/rimraf/LICENSE
node_modules/rimraf/package.json
node_modules/rimraf/README.md
node_modules/rimraf/rimraf.js
node_modules/semver/LICENSE
node_modules/semver/package.json
node_modules/semver/range.bnf
node_modules/semver/README.md
node_modules/semver/semver.js
node_modules/semver/bin/semver
node_modules/solc/abi.js
node_modules/solc/index.js
node_modules/solc/LICENSE
node_modules/solc/linker.js
node_modules/solc/package.json
node_modules/solc/README.md
node_modules/solc/solcjs
node_modules/solc/soljson.js
node_modules/solc/translate.js
node_modules/solc/wrapper.js
node_modules/stream-throttle/.npmignore
node_modules/stream-throttle/AUTHORS
node_modules/stream-throttle/index.js
node_modules/stream-throttle/LICENSE
node_modules/stream-throttle/package.json
node_modules/stream-throttle/README.md
node_modules/stream-throttle/bin/throttleproxy.js
node_modules/stream-throttle/src/throttle.js
node_modules/stream-throttle/test/throttle_test.js
node_modules/truffle/.looprc
node_modules/truffle/cli.webpack.config.js
node_modules/truffle/CONTRIBUTING.md
node_modules/truffle/LICENSE
node_modules/truffle/package.json
node_modules/truffle/README.md
node_modules/truffle/build/Assert.sol
node_modules/truffle/build/AssertAddress.sol
node_modules/truffle/build/AssertAddressArray.sol
node_modules/truffle/build/AssertAddressPayableArray.sol
node_modules/truffle/build/AssertBalance.sol
node_modules/truffle/build/AssertBool.sol
node_modules/truffle/build/AssertBytes32.sol
node_modules/truffle/build/AssertBytes32Array.sol
node_modules/truffle/build/AssertGeneral.sol
node_modules/truffle/build/AssertInt.sol
node_modules/truffle/build/AssertIntArray.sol
node_modules/truffle/build/AssertString.sol
node_modules/truffle/build/AssertUint.sol
node_modules/truffle/build/AssertUintArray.sol
node_modules/truffle/build/NewSafeSend.sol
node_modules/truffle/build/OldSafeSend.sol
node_modules/truffle/build/templates/example.js
node_modules/truffle/build/templates/Example.sol
node_modules/truffle/build/templates/migration.js
node_modules/truffle/build/templates/Test.sol
node_modules/truffle/scripts/analyze.sh
node_modules/truffle/scripts/prereleaseVersion.js
node_modules/truffle/scripts/test.sh
node_modules/truffle/test/.npmignore
node_modules/truffle/test/scenarios.js
node_modules/truffle/test/scenarios/commandrunner.js
node_modules/truffle/test/scenarios/memorylogger.js
node_modules/truffle/test/scenarios/reporter.js
node_modules/truffle/test/scenarios/sandbox.js
node_modules/truffle/test/scenarios/server.js
node_modules/truffle/test/scenarios/commands/build.js
node_modules/truffle/test/scenarios/commands/ethpm.js
node_modules/truffle/test/scenarios/commands/exec.js
node_modules/truffle/test/scenarios/commands/help.js
node_modules/truffle/test/scenarios/commands/init.js
node_modules/truffle/test/scenarios/commands/run.js
node_modules/truffle/test/scenarios/commands/unbox.js
node_modules/truffle/test/scenarios/compile/compile.js
node_modules/truffle/test/scenarios/contract_names/test_imports.js
node_modules/truffle/test/scenarios/cyclic_dependencies/compiles.js
node_modules/truffle/test/scenarios/cyclic_dependencies/Ping.sol
node_modules/truffle/test/scenarios/cyclic_dependencies/Pong.sol
node_modules/truffle/test/scenarios/external_compilers/truffle-compile.js
node_modules/truffle/test/scenarios/happy_path/happypath.js
node_modules/truffle/test/scenarios/migrations/dryrun.js
node_modules/truffle/test/scenarios/migrations/errors.js
node_modules/truffle/test/scenarios/migrations/init.js
node_modules/truffle/test/scenarios/migrations/migrate.js
node_modules/truffle/test/scenarios/migrations/production.js
node_modules/truffle/test/scenarios/resolver/resolver.js
node_modules/truffle/test/scenarios/solidity_testing/solidityTests.js
node_modules/truffle/test/scenarios/solidity_testing/TestFailures.sol
node_modules/truffle/test/scenarios/solidity_testing/TestWithBalance.sol
node_modules/truffle/test/scenarios/typescript_testing/typescriptTests.js
node_modules/truffle/test/sources/build/projectWithBuildScript/truffle.js
node_modules/truffle/test/sources/build/projectWithObjectInBuildScript/truffle.js
node_modules/truffle/test/sources/build/projectWithoutBuildScript/truffle.js
node_modules/truffle/test/sources/contract_names/truffle.js
node_modules/truffle/test/sources/contract_names/contracts/contract.sol
node_modules/truffle/test/sources/contract_names/contracts/Migrations.sol
node_modules/truffle/test/sources/contract_names/contracts/relative_import.sol
node_modules/truffle/test/sources/contract_names/migrations/1_initial_migrations.js
node_modules/truffle/test/sources/contract_names/migrations/2_deploy_contract.js
node_modules/truffle/test/sources/contract_names/migrations/3_deploy_relative_import.js
node_modules/truffle/test/sources/ethpm/ethpm.json
node_modules/truffle/test/sources/ethpm/truffle.js
node_modules/truffle/test/sources/ethpm/contracts/Local.sol
node_modules/truffle/test/sources/ethpm/contracts/PLCRVoting.sol
node_modules/truffle/test/sources/ethpm/installed_contracts/tokens/ethpm.json
node_modules/truffle/test/sources/ethpm/installed_contracts/tokens/contracts/Migrations.sol
node_modules/truffle/test/sources/ethpm/installed_contracts/tokens/contracts/eip20/EIP20.sol
node_modules/truffle/test/sources/ethpm/installed_contracts/tokens/contracts/eip20/EIP20Factory.sol
node_modules/truffle/test/sources/ethpm/installed_contracts/tokens/contracts/eip20/EIP20Interface.sol
node_modules/truffle/test/sources/exec/script.js
node_modules/truffle/test/sources/exec/truffle.js
node_modules/truffle/test/sources/exec/contracts/Executable.sol
node_modules/truffle/test/sources/external_compile/compile-external
node_modules/truffle/test/sources/external_compile/truffle.js
node_modules/truffle/test/sources/external_compile/contracts/.placeholder
node_modules/truffle/test/sources/external_compile/contracts/ConvertLib.sol
node_modules/truffle/test/sources/external_compile/contracts/MetaCoin.sol
node_modules/truffle/test/sources/external_compile/contracts/Migrations.sol
node_modules/truffle/test/sources/external_compile/migrations/1_initial_migration.js
node_modules/truffle/test/sources/external_compile/migrations/2_deploy_contracts.js
node_modules/truffle/test/sources/external_compile/test/.placeholder
node_modules/truffle/test/sources/external_compile/test/metacoin.js
node_modules/truffle/test/sources/inheritance/truffle.js
node_modules/truffle/test/sources/inheritance/contracts/Branch.sol
node_modules/truffle/test/sources/inheritance/contracts/LeafA.sol
node_modules/truffle/test/sources/inheritance/contracts/LeafB.sol
node_modules/truffle/test/sources/inheritance/contracts/LeafC.sol
node_modules/truffle/test/sources/inheritance/contracts/LibraryA.sol
node_modules/truffle/test/sources/inheritance/contracts/Migrations.sol
node_modules/truffle/test/sources/inheritance/contracts/Root.sol
node_modules/truffle/test/sources/inheritance/contracts/SameFile.sol
node_modules/truffle/test/sources/inheritance/migrations/1_initial_migrations.js
node_modules/truffle/test/sources/inheritance/test/inheritance.js
node_modules/truffle/test/sources/migrations/error/truffle.js
node_modules/truffle/test/sources/migrations/error/contracts/Abstract.sol
node_modules/truffle/test/sources/migrations/error/contracts/Example.sol
node_modules/truffle/test/sources/migrations/error/contracts/ExampleAssert.sol
node_modules/truffle/test/sources/migrations/error/contracts/ExampleRevert.sol
node_modules/truffle/test/sources/migrations/error/contracts/Loops.sol
node_modules/truffle/test/sources/migrations/error/contracts/Migrations.sol
node_modules/truffle/test/sources/migrations/error/contracts/RevertWithReason.sol
node_modules/truffle/test/sources/migrations/error/contracts/UsesExample.sol
node_modules/truffle/test/sources/migrations/error/migrations/1_initial_migration.js
node_modules/truffle/test/sources/migrations/error/migrations/2_migrations_revert.js
node_modules/truffle/test/sources/migrations/error/migrations/3_migrations_ok.js
node_modules/truffle/test/sources/migrations/error/migrations/4_migrations_oog.js
node_modules/truffle/test/sources/migrations/error/migrations/5_migrations_reason.js
node_modules/truffle/test/sources/migrations/error/migrations/6_migrations_funds.js
node_modules/truffle/test/sources/migrations/error/migrations/7_batch_deployments.js
node_modules/truffle/test/sources/migrations/error/migrations/8_js_error_sync.js
node_modules/truffle/test/sources/migrations/error/migrations/9_js_error_async.js
node_modules/truffle/test/sources/migrations/init/truffle.js
node_modules/truffle/test/sources/migrations/init/contracts/Migrations.sol
node_modules/truffle/test/sources/migrations/init/migrations/1_initial_migration.js
node_modules/truffle/test/sources/migrations/production/truffle.js
node_modules/truffle/test/sources/migrations/production/contracts/Example.sol
node_modules/truffle/test/sources/migrations/production/contracts/Migrations.sol
node_modules/truffle/test/sources/migrations/production/migrations/1_initial_migration.js
node_modules/truffle/test/sources/migrations/production/migrations/2_migrations_conf.js
node_modules/truffle/test/sources/migrations/success/truffle.js
node_modules/truffle/test/sources/migrations/success/contracts/Example.sol
node_modules/truffle/test/sources/migrations/success/contracts/IsLibrary.sol
node_modules/truffle/test/sources/migrations/success/contracts/Loop.sol
node_modules/truffle/test/sources/migrations/success/contracts/Migrations.sol
node_modules/truffle/test/sources/migrations/success/contracts/PayableExample.sol
node_modules/truffle/test/sources/migrations/success/contracts/UsesExample.sol
node_modules/truffle/test/sources/migrations/success/contracts/UsesLibrary.sol
node_modules/truffle/test/sources/migrations/success/migrations/1_initial_migration.js
node_modules/truffle/test/sources/migrations/success/migrations/2_migrations_sync.js
node_modules/truffle/test/sources/migrations/success/migrations/3_migrations_async.js
node_modules/truffle/test/sources/monorepo/errorproject/truffle.js
node_modules/truffle/test/sources/monorepo/errorproject/contracts/Importer.sol
node_modules/truffle/test/sources/monorepo/installed_contracts/ethpmpkg/EthPMImport.sol
node_modules/truffle/test/sources/monorepo/node_modules/nodepkg/ImportOfImport.sol
node_modules/truffle/test/sources/monorepo/node_modules/nodepkg/NodeImport.sol
node_modules/truffle/test/sources/monorepo/truffleproject/truffle.js
node_modules/truffle/test/sources/monorepo/truffleproject/contracts/Importer.sol
node_modules/truffle/test/sources/monorepo/truffleproject/node_modules/nodepkg/LocalNodeImport.sol
node_modules/truffle/test/sources/run/mockProjectWithAbsolutePath/truffle.js
node_modules/truffle/test/sources/run/mockProjectWithAbsolutePath/node_modules/truffle-mock/truffle-plugin.json
node_modules/truffle/test/sources/run/mockProjectWithBadPluginFormat/truffle.js
node_modules/truffle/test/sources/run/mockProjectWithMissingPluginConfig/truffle.js
node_modules/truffle/test/sources/run/mockProjectWithMissingPluginModule/truffle.js
node_modules/truffle/test/sources/run/mockProjectWithPlugin/truffle.js
node_modules/truffle/test/sources/run/mockProjectWithPlugin/node_modules/truffle-mock/truffle-plugin.json
node_modules/truffle/test/sources/run/mockProjectWithWorkingPlugin/truffle.js
node_modules/truffle/test/sources/run/mockProjectWithWorkingPlugin/node_modules/truffle-mock/index.js
node_modules/truffle/test/sources/run/mockProjectWithWorkingPlugin/node_modules/truffle-mock/truffle-plugin.json
node_modules/truffle/test/sources/run/mockProjectWithoutPlugin/truffle.js
node_modules/which/CHANGELOG.md
node_modules/which/LICENSE
node_modules/which/package.json
node_modules/which/README.md
node_modules/which/which.js
node_modules/which/bin/which
node_modules/window-size/cli.js
node_modules/window-size/index.js
node_modules/window-size/LICENSE
node_modules/window-size/package.json
node_modules/window-size/README.md
