body {
    background-color: #95dffe30;
    color: black;
    font-size: 20px;
    font-family: arial, sans-serif;
}
h1 {
    color: black;
    font-size: 50px;
    margin-top: 20px;
}

#outerContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#leftPlayerContainer {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#rightPlayerContainer {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#headerContainer {
    text-align: center;
}
